.book{
    /* border: 1px solid purple; */
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    transition: box-shadow 0.3s;
}